<form action="/weapons" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required />
  <label for="weapon_type_id">Weapon Type: </label>
  <select name="weapon_type_id" id="weapon_type_id">
    <option value="1">Axe</option>
    <option value="2">Sword</option>
    <option value="3">Spear</option>
    <option value="4">Hammer</option>
    <option value="5">Mace</option>
    <option value="6">Dagger</option>
  </select>
  <label for="affinity_type_id">Affinity: </label>
  <select name="affinity_type_id" id="affinity_type_id">
    <option value="1">Holy</option>
    <option value="2">Kinetic</option>
    <option value="3">Magic</option>
    <option value="4">Lightning</option>
    <option value="5">Flame</option>
  </select>
  <label for="damage">Damage: </label>
  <input type="range" name="damage" id="damage" min="1" max="1000" value="1" />
  <label for="durability">Durability: </label>
  <input
    type="range"
    name="durability"
    id="durability"
    min="1"
    max="100"
    value="1"
  />
  <label for="weight">Weight: </label>
  <input type="range" name="weight" id="weight" min="1" max="100" value="1" />
  <label for="value">Value: </label>
  <input type="number" name="value" id="value" min="1" max="1000" value="1" />
  <button type="submit">Submit</button>
</form>
