h1 {
  font-size: 42px;
  margin-left: 1em;
}

nav {
  padding: 1em;
  padding-right: 5.5em;
}

.nav-list {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}

.nav-list,
.dropdown {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  position: relative;
}

.nav-item .dropdown {
  display: none;
  position: absolute;
}

.nav-item:hover .dropdown {
  display: block;
  background-color: rgba(255, 255, 255, 0.849);
  border: 1px solid grey;
  border-radius: 5px;
  white-space: nowrap;
}

.dropdown-item {
  padding: 0.2em;
  position: relative;
}

.submenu {
  display: none;
}

.submenu-item {
  list-style-type: none;
}

.dropdown-item:hover > .submenu {
  display: block;
  margin-left: -1em;
}

.inventory-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  margin: 2em;
}

.inventory-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12em;
  height: 16em;
  padding: 5px;
  text-align: center;
}

.item-name-container h2 {
  margin-top: 0.2em;
}

.item-info-container p {
  margin: 0.2em;
}

.item-edit-container {
  display: flex;
  flex-direction: column;
}

.item-edit-container form {
  margin: 0;
}

.weapon {
  border: 2px solid rgb(219, 60, 32);
  background-color: rgb(226, 164, 153);
  border-radius: 5px;
}

.tome {
  border: 2px solid rgb(15, 128, 241);
  background-color: rgb(148, 183, 218);
  border-radius: 5px;
}

.potion {
  border: 2px solid rgb(86, 148, 28);
  background-color: rgb(180, 214, 148);
  border-radius: 5px;
}
